h1.q2{
    height: 2.75rem;
    line-height: 2.75rem;
    background-color: #5bdb9e;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    display: inline-block;
}
h1.q2::after{
    content: '';
    position:absolute;
    bottom: -0.9rem;
    left: 1rem;
    border-width:0.5rem;
    border-style: solid;
    border-color:#5bdb9e transparent transparent transparent;
}
body{
    background-color: #fff;
    color: #666;
    font-family: "メイリオ",Meiryo,"MS Pゴシック","MS PGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,sans-serif
}

h1{
    font-family: "M PLUS 1q",sans-serif;
    color: #333;
    font-size: 1.5rem;
    line-height: 1.25;
}
